/* XXL / very large desktops */
@media (max-width: 1400px) {}

/* Extra large devices / large desktops */
@media (max-width: 1200px) {}

/* Large devices / laptops / desktops */
@media (max-width: 991px) {
    .hero-content.hero-content-right {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }

    section {
        overflow: hidden;
    }

    .hero-content {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    .hero-img-main {
        display: none;
    }

    .hero-bottom-main {
        transform: none;
        position: unset;
    }

    .hero-bottom-card {}

    .hero-main {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content-main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.hero-section {
        margin-bottom: 0;
    }

    .about-circle-main.verticle {
        position: unset;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        transform: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }

    .about-circle-main {
        max-width: 350px;
        margin: 0 auto;
        width: 100%;
    }

    .about-circle-wrapepr {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .mobile-card {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .mobile-img {
        display: none;
    }

    .about-sec-content {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }

    .about-us-section-main .row {
        flex-direction: column-reverse;
    }

    .services-card {
        width: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }


    .why-choose-us-wrapper .img-box-contet {
        display: none;
    }



    .features-img {
        display: none;
    }

    .works-card-main .row {
        gap: 18px 0;
        justify-content: center;
    }

    .downloadapp-content {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-links {
        text-align: center;
        align-items: center;
    }

    .footer-main {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 100%;
        margin-bottom: 50px;
    }

    .footer-contact {
        justify-content: center;
    }

    .works-wrapper {
        padding: 0;
        background: none;
    }

    .works-card {
        background: linear-gradient(#000000 0%, #2b2b2b 100%);
    }

    .white-main-heading .main-heading h2,
    .white-main-heading .main-heading p {
        color: black;
    }

    .works-bottom strong {
        color: var(--primary);
    }

    button.btn.btn-outline-primary {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background: var(--primary);
        color: white;
        border-color: var(--primary);
    }


    button.btn.btn-outline-primary svg {
        height: 30px;
        width: 30px;
    }

    .offcanvas-body {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


/* Medium devices / tablets / small laptops */
@media (max-width: 768px) {
    .footer-main .form-control {
        width: 100%;
    }

    .why-choose-us-wrapper {
        padding: 0;
        border: revert-layer;
    }

    .why-choose-us-card {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .features-heading {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .why-choose-us-wrapper {
        padding: 0;
        border: revert-layer;
    }

    .why-choose-us-card {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .why-choose-us-card {
        background: #d6ebfa;
    }

    .footer-form {
        flex-direction: column;
        background: transparent;
    }

    .footer-form input {
        width: 100%;
    }

    .mb-3.footer-form .theme-btn {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        margin-top: 14px;
    }
}

/* Small devices / large phones / portrait tablets */
@media (max-width: 576px) {}

/* Extra small devices / phones */
@media (max-width: 480px) {}